body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(150deg, #45b39d, #e59866);
  height: 20px;
}
/*Estilo y fondo del form*/
main {
  text-align: center;
  width: 300px;
  background: white;
  border-radius: 15px;
}
.menu-acceso {
    display: flex;
    gap: 10px;
  }
  .menu-acceso a {
    text-decoration: none;
    background-color: #cce7ff;
    color: black;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
  }
/*Margen del title*/
h1 {
  margin: 15px 15px;
}
/*Margen al form*/
form {
  margin: 15px 15px;
}
form .user-password {
  margin: 15px 0;
}
form .submit {
  text-align: center;
}
/*Fondo del footer*/
footer {
    background-color: #b2babb;
  }
  /*Posicion del boton "inicio"*/
  button {
    float: right;
    margin-right: 15px;
    margin: 10px;
  }
  /*Posicion de los iconos de las redes*/
  .social-icons {
    float: right;
    margin-right: 25px;
    margin: 10px;
  }
  /*Posicion de las listas en forma horizontal*/
  li {
    display: inline;
    padding: 25px;
  }
